<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{{ url_for('receive_data') }}" method="post">
        <label for="username">Name</label>
        <input id="username" type="text" name="username" placeholder="name">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="password">
        <button type="submit" value = "Submit">Ok</button>
    </form>
</body>
</html>