<!doctype html>
{% from "bootstrap5/form.html" import render_form %}
<html lang="en">
    <head>
        {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- unicorn -->
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>Add Cafe</title>
        {% endblock %}
    </head>
    <body style= "background-color: orange;">
    {% block content %}
        <div class="container">
        <h1>Enter the password to continue</h1>
            {% with messages = get_flashed_messages() %}
                       {% if messages %}
                          {% for message in messages %}
                             <p>{{ message }}</p>
                          {% endfor %}
                       {% endif %}
            {% endwith %}
        {{ render_form(form, novalidate=True) }}
        </div>
    {% endblock %}
    </body>